<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <br/>
    <h3>Dodaj nowy Projekt</h3>
    <hr/>
    <form class="form-horizontal" method="post"
          th:object="${PROJECT}"
          th:action="@{/save-project}">
        <div class="form-group row">
            <label class="col-2 col-form-label">Nazwa projectu</label>
            <div class="col-10">
                <input class="form-control" type="text" th:field="*{name}"/>
                <div style="color:red; text-align: left;" th:if="${#fields.hasErrors('name')}"
                     th:errors="*{name}">
                    Name error
                </div>
            </div>
        </div>
        <hr/>
        <div class="form-group row">
            <label class="col-2 col-form-label">Przypisz użytkowników</label>
            <div class="col-10">
                <div class="form-check" th:each="users: ${USERS}">
                    <input type="checkbox" class="form-check-input" th:field="*{usersId}" th:value="${users.id}"
                           th:id="${users.id}"/>
                    <label class="form-check-label"
                           th:text="${users.firstName +' '+ users.lastName}"
                           th:for="${users.id}"></label>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-secondary btn-lg btn-block buttonSave">Zapisz</button>
    </form>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>